.youtube {
    width: 448px;
    height: 252px;
 }
 @media (min-width: 640px) {
    .youtube {
      width: 761px;
      height: 428px;
    }
 }
 .row > * {
   padding-right: 0 !important;
   padding-left: 0 !important;
 }